.BlackBox{
    background-color: rgb(27, 28, 30);
    padding: 1%  0 2% 7%;
    text-align: left;
}
.white{
    color: white;
}
.purpal{
    color: rgb(199, 185, 243);
    /* margin: -1% 0 0 0 ; */
}
.icon{
    margin: 17px 0 0 0 ;
}
.flex{
    display: flex;
}
.BBText{
    width: 60%;
    /* margin-left: -7%; */
    /* border: 1px solid red; */
}
.headingTop1{
    margin-top: -1%;
}
.underline{
    text-decoration: underline;
}
.yellow{
    color: rgb(236, 235, 152);
}
.darkyellow{
    color: #DBA91F;
}
.Ybox{
    background-color:rgb(250, 250, 116) ;
    padding:  0.2% 1.5%;
    margin:  0 1% 0 0 ;
    height: 10px;
}
.Bcreated{
    margin-top: 2%;
}
.BBicons{
    margin: 1% 8px 0 13px ;
    
}
.BBbottom{
    margin: 2% 0 0 -2.5% ;
}
.BBbottomText{
    vertical-align: top;
}

.MiddleContent{
    width: 55%;
    padding: 0 2%;
    border: 1px solid rgb(165, 164, 164);
    margin-left: 6.5%;
    text-align: left;
    /* border: 2px solid red; */
}
.MLcon{
    width: 98%;
    gap: 0 5% ;
    /* border: 1px solid rgb(13, 4, 63); */
}
.MLcon>p{
    margin-top: -1%;
}


.CourseContent{
    width: 56%;
    /* border: 1px solid red; */
    text-align: left;
    margin-left: 6.5%;
}
.Expand{
    margin-left: 35%;
    /* border: 1px solid red; */
    color:rgb(64, 27, 156);
}
.OpenBox{
    width: 120%;
    /* margin: -2%  0  0 -2.5%  ; */
    border: 1px solid rgb(189, 188, 188);
}
.OpenBox>h4{
    width: 200%;
    /* border: 1px solid red; */
}

.CourseCTime{
    margin-left: 30%;
    text-align: end;
    padding: 2%;
    width: 150%;
    /* border: 1px solid rgb(72, 24, 245); */
}
.openArrow{
    margin: 3% 2%;
    /* border: 1px solid rgb(172, 19, 27) */
}
.courseInfo{
/* text-align: center; */
margin-top: -0.10%;
}
.ConDiv{
    margin: 0 0 0  2%;
    /* border: 1px solid red; */
}
.playIcon{
    /* padding: 0 2%; */
    width: 50px;
    height: 50px;
    /* border: 1px solid red; */
}
.AfterOpendiv{
    margin: -3.5% 0 0 2.3%;
    width: 95.4%;
    /* border: 1px solid rgb(189, 188, 188); */
}
.CourceMainBox{
    margin-top: 2%;
    /* border: 1px solid red; */
}
.CourceBoxs{
    margin-top: -3.8%;
    /* border: 1px solid red; */
}

.moreSection{
    margin: -1% 0 0 2.3%;
    width: 95.2%;
    text-align: center;
   height: 40px;
    border: 1px solid black;
    cursor: pointer;
}
.moreSection:hover{
    background-color: rgb(239,239,239);
}
.moreSection>h5{
    margin-top: 1%;
}
/* .MiddleMainDiv{
    border: 1px solid red;
} */

/* ////////fixBox////----------------------- */
/* .FixB{
    border: 5px solid red;
} */
.fixBox{
    /* border: 5px solid red; */
    line-height: 333%;
    border: none;
    box-shadow: -0px -0px 2px 2px #e9e9e9;
    background-color: rgb(255, 255, 255);
    width: 26.5%;
    height: 100%;
    position: fixed;
    margin: -310px 0 5% 67%;
    /* padding: 5%; */
}
.Ftop2lines{
    line-height: 210%;

}
.innerFixBox{
    margin: 6%;
    /* border: 1px solid red; */
    text-align: left;
}
.FTH{
    gap: 3%;
}
.FT1{
    font-size: 200%;
    margin-top: -2%;
   
}
.FT2{
    text-decoration:line-through;
    /* border: 1px solid red; */
    font-size: 110%;
    margin-top: -2% ;
}
.FT3{
    font-size: 110%;
    margin-top: -2% ;
}
.red{
    color: red;
    
}
.bold{
    font-size:20px;
}

.gotocartBtn{
    width: 100%;
    background-color: rgb(164,53,240);
    color: white;
    height: 40px;
    font-size: 110%;
    margin-top: 4%;
    border: none;
    cursor: pointer;
}
.pointer{
    cursor: pointer;
}
.buynowBtn{
    width: 100%;
    height: 40px;
    font-size: 110%;
    /* margin-top: -10px; */
    border: 1px solid black;
    cursor: pointer;
}
.btn2{
    margin-top: 2%;
}
.center{
    text-align:center;
}
.gap{
    gap:5%;
}
.ThisCourse{
    line-height: 100%;
    /* border: 3px solid rgb(118, 99, 189); */
}
.training{
    line-height: 110%;
}