.main-cont,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.topnavbar {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  height: 4.6rem;
  padding: 0 1.4rem;
  position: relative;
  z-index: 1010;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.udemylogo {
  max-width: 100%;
  height: auto;
  width: 91px;
  aspect-ratio: auto 91 / 34;
  height: 34px;
}
.udemylink {
  flex-shrink: 0;
  padding-right: 0.8rem;
  align-items: center;
  display: flex;
  color: #5624d0;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.4rem;
}
.searchbar {
  max-width: none;
  flex-grow: 1;
  height: 4.8rem;
  border: 1px solid #1c1d1f;
  border-radius: 9999px;
  background-color: #f7f9fa;
  margin: 0 1.2rem;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2.4rem 0 0;
  position: relative;
  min-width: 18rem;
  max-height: 3rem;
}
.searchbar > button {
  background-color: transparent;
  color: #1c1d1f;
  border: none;
  margin-left: 1rem;
}
.searchbar > input {
  background-color: transparent;
  border: none;
  padding: 0 0 0 1.2rem;
  width: 100%;
  height: 100%;
}
.searchbar > input:focus,
textarea:focus,
select:focus {
  outline: none;
}
nav > button,
.cart,
.login,
.signup,
.lang {
  background-color: transparent;
  color: #1c1d1f;
  border: none;
}
.cart {
  padding: 0 1.4rem;
}
.login {
  color: #1c1d1f;
  background-color: transparent;
  border: 1px solid #1c1d1f;
  height: 2.6rem;
  padding: 0 1.1rem;
  margin: 0.3rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02rem;
  font-size: 0.9rem;
}
.signup {
  color: #fff;
  background-color: transparent;
  border: 1px solid #1c1d1f;
  height: 2.6rem;
  padding: 0 1.1rem;
  margin: 0.3rem;
  background-color: #1c1d1f;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02rem;
  font-size: 0.9rem;
}
.lang {
  color: #1c1d1f;
  background-color: transparent;
  border: 1px solid #1c1d1f;
  height: 2.6rem;
  padding: 0 0.7rem;
  margin: 0.3rem;
}
.nav-span {
  font-weight: 200;
  line-height: 1.4;
  font-size: 0.9rem;
  padding: 0 0 0 0.8rem;
  margin: 0.8rem 0;
}
.linkstyle {
  text-decoration: none;
  color: #171718;
  /* padding: 0 1.2rem; */
}
.linkstyle > span {
  font-weight: 400;
}
/* .midbanner { 
   border: 2px solid black; 
   height: 100vh; 
 } */
.midbanner img {
  width: 1340px;
  aspect-ratio: auto 1340 / 400;
  height: 400px;
  margin: auto;
}
.bannerdiv {
  display: flex;
  justify-content: center;
}

.bannercard {
  /* border: 2px solid black; */
  background-color: #fff;
  position: absolute;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  padding: 1.6rem;
  left: 10.2rem;
  top: 8.4rem;
  max-width: 30rem;
}
.bannercard h1 {
  font-size: 2.2rem;
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
}
.bannercard p {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 360;
  font-size: 1rem;
  margin-top: 1rem;
}
.headline {
  width: 90%;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  margin: 2.4rem 5rem 1.1rem;
}
.headline_main-text {
  max-width: 60rem;
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}
.headline_sub-text {
  margin-top: 0.5rem;
  max-width: 80rem;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.3rem;
}
.data-comp {
  /* border: 2px solid black; */
  height: 38rem;
}

.data-cont {
  /* border: 2px solid red; */
  width: 85%;
  max-width: 134rem;
  margin-right: auto;
  margin-left: auto;
  /* padding-right: 2.4rem; */
  /* padding-left: 2.4rem; */
}
.topic-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: 2px solid #1c1d1f; */
}
.topic-btn button {
  background-color: transparent;
  border: none;
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.02rem;
  /* color: #6a6f73; */
}
.skill-hub {
  margin-top: 1rem;
  border: 1px solid #d1d7dc;
  padding: 2.3rem;
}
.skill-desc {
  margin-bottom: 2.5rem;
}
.skill-desc h2 {
  color: #1c1d1f;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  max-width: 80rem;
}
.skill-desc p {
  color: #1c1d1f;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 1.5rem;
  max-width: 50rem;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.skill-titl-btn, .tec-cont a {
  color: #1c1d1f;
  /* border: 1px solid #1c1d1f; */
  height: 2.6rem;
  padding: 0.4rem 0.7rem;
  margin: 0;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02rem;
  font-size: 1rem;
  text-decoration: none;
}
.prodLink{
  text-decoration: none;
  color: black;
  box-sizing: border-box;
 width: auto;
 height: auto;
}
.skill-titl-btn{
    border: 1px solid #1c1d1f;

}
.poster1{
  /* border: 2px solid black; */
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.poster-cont{
  /* border: 2px solid black; */
  width: 57%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: auto;
}
.banner-2{
  width: 400px;
    aspect-ratio: auto 400 / 400;
    height: 400px;

}
.udemylinkbtn{
  font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    font-size: 1rem;
    min-width: 8rem;
    padding: 0.6rem 1rem;
    height: 4rem;
    background-color:  #1c1d1f;
    color: white;
    text-decoration: none;
}
/* .pitch-cont{
  border: 2px solid red;
} */
.pitchHead{
  font-size: 2.2rem;
    font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -.05rem;
}
.pitchdec{
  font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 0.4rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}
.pitchcard2img{
  width: 282px;
    aspect-ratio: auto 282 / 48;
    height: 48px;
}
.partner{
  width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1.6rem;
    /* border: 2px solid black; */
    background: #f7f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.partner-title{
  font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.35;
    letter-spacing: -.05rem;
    margin-bottom: 1rem;
}
.parner-logo-cont{
  display: flex;
  gap: 2rem;
}
.skelton{
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}
.line{
  padding: 0.6rem;
}
.rectangel{
  padding: 1.8rem;
}


