.carousel .slick-arrow.slick-prev,
.carousel .slick-arrow.slick-next {
  background: #1c1d1f;
  border-radius: 50%;
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
  z-index: 1;
  box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
}
.carousel .slick-prev {
  left: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.carousel .slick-next {
  right: 0;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.slick-prev::before,
.slick-next::before {
  display: none;
}

.carousel {
  /* border: 2px solid red; */
  align-items: center;
  
}
